@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

@font-face {
  src: url('fonts/hun2.ttf');
  font-family: 'HUN';
}
@font-face {
  src: url('fonts/cr.ttf');
  font-family: 'CR';
}
@font-face {
  src: url('fonts/cb.ttf');
  font-family: 'CB';
}

body {
    font-family: 'HUN';
    font-size: 18px;
    color: white;
}
.nameRankTR {
  display: flex;
  gap: 2rem;
}
#userProfile {
  width: 60px;
  height: 60px;
  vertical-align: bottom;
}
#main {
  width: fit-content;
  height: auto;
  padding: 20px 20px 20px 20px;
  background-color: #243e25;
  border-top: 3px solid #45794f;
  /* box-shadow: 0 0 48px #0002; */
}

.TR {
  align-self: center;
}
.rankTR {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#userName {
  text-align: left;
  font-size: 32px;
}

#userTR {
  font-family: 'CB';
  text-align: left;
  /* padding-bottom: 15%; */
  color: #AAAAAA;
}
#userRankIcon {
  display: inline;
  text-align: right;
}
#subscript {
  color: #888888;
  font-size: 16px;
  font-family: 'CB'
}
