@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

@font-face {
  src: url('fonts/hun2.ttf');
  font-family: 'HUN';
}
@font-face {
  src: url('fonts/cr.ttf');
  font-family: 'CR';
}
@font-face {
  src: url('fonts/cb.ttf');
  font-family: 'CB';
}

body {
    font-family: 'HUN';
    font-size: 18px;
    color: white;
    transform: scale(2);
    transform-origin: top left;
}
.nameRankTR {
  display: flex;
  gap: 2rem;
  filter: blur(5px);
  transition: 0.3s ease-in-out;
}
#userProfile {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-radius: 5px;
}
#main {
  width: fit-content;
  height: 60px;
  margin: 20px;
  padding: 20px;
  background-color: #243e25;
  border-radius: 20px;
  box-shadow: 0 0 12px #0006;
  transition: 0.3s ease-in-out;
}

.TR {
  align-self: center;
}
.rankTR {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#userName {
  text-align: left;
  vertical-align: -webkit-baseline-middle;
  font-size: 48px;
  margin-top: auto;
  margin-bottom: auto;
}

#userTR {
  font-family: 'CB';
  text-align: left;
  text-shadow: 0 0 10px black;
  /* padding-bottom: 15%; */
}
#userRankIcon {
  display: inline;
  text-align: right;
}
#subscript {
  font-size: 16px;
  font-family: 'CB'
}
