@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

@font-face {
  src: url('fonts/hun2.ttf');
  font-family: 'HUN';
}
@font-face {
  src: url('fonts/cr.ttf');
  font-family: 'CR';
}
@font-face {
  src: url('fonts/cb.ttf');
  font-family: 'CB';
}

#main,  #userName, #userRankIcon, #TR {
  transition: 0.3s ease-in-out;
}
body {
    font-family: 'HUN';
    font-size: 18px;
    color: white;
    transform-origin: top left;
}
.nameRankTR {
  display: flex;
  /* filter: blur(5px); */
  transition: 0.3s ease-in-out;
}

#userProfile {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-radius: 5px;
  filter: opacity(0);
}
.closed {
  font-size: 0 !important;
  filter: opacity(0);
  width: 0 !important;
}

#main {
  width: fit-content;
  min-width: 60px;
  height: 60px;
  margin: 20px;
  padding: 20px;
  background-color: #828282;
  border-radius: 20px;
  box-shadow: 0 0 12px #0006;
}

.TR {
  align-self: center;
}
.rankTR {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#userName {
  text-align: left;
  vertical-align: -webkit-baseline-middle;
  font-size: 48px;
  margin-top: auto;
  margin-bottom: auto;
}

#userTR {
  font-family: 'CB';
  text-align: left;
  text-shadow: 0 0 10px #0006;
  /* padding-bottom: 15%; */
}
#userRankIcon {
  display: inline;
  text-align: right;
  filter: drop-shadow(0 0 5px #0006);
}
#subscript {
  font-size: 16px;
  font-family: 'CB'
}
